---
title: Jose V
description: Un desarrollador web freelance
---

{% extends "_includes/default.njk" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div id="1" class="h-screen bg-teal-300"></div>
    <div id="2" class="h-screen bg-yellow-300"></div>
    <div id="3" class="h-screen bg-gray-300"></div>
    <div id="4" class="h-screen bg-red-300"></div>
    <div id="5" class="h-screen bg-blue-300"></div>
{% endblock %}
